.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #6278f7;
  background-image: url(/public/imagens/fundo.png);
  background-position: top;
  background-size: cover;
  padding: 50px;
  color: #fff;
}

.social-links {
  display: flex;
  gap: 20px;
}

.social-links img {
  width: 20px;
}

.image-logo {
  width: 100px;
}